*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(./BuzzSumo-Homepage-Gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.div2{

    background-color: white;
    width: 100%;
    height: 200vh;
    position: relative;
    top: 120px;
    border: 1px solid white;
    border-top-left-radius: 200px ;
    border-top-right-radius: 200px ;
}
.logo{
    width: 150px;
    height: 30px;
}
.header{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.nav{
    display: flex;
    gap: 40px;
    color: black;
     text-decoration: none;
}
.nav a {
    color: black;
    font-weight: 499;
    text-decoration: none;
}
.buttons{
    display: flex;
    gap: 20px;
    background-color: none;
}
.btns{
    padding: 2px;
    background-color: white;
    border: none;
}
.btns1{
    background-color: white;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
}
.btns1:hover{
    background-color: #53A3E5;
    color: white;
    border: 1px solid #53A3E5;
    cursor: pointer;
}
.main{
    color: white;
    padding: 30px;
    gap: 90px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:550px;
}
.h1{
    font-size: 60px;
}
.para{
    margin-top: 30px;
    font-size: 20px;
}
.trial{
    border: 1px solid blue;

    font-weight: bolder;

    color:#53A3E5 ;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin-top: 60px;

}
.trial:hover{
    background-color: #53A3E5;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bolder;
}
.img{
    position:absolute;
    top: 45%;
}
.img1{
    position:absolute;
    top: 70%;
    right: 50px;

}
.img2{
    position: absolute;
    top: 100%;
}
.company{
    
    display: flex;
    margin-top:30px ;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.div{
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    top: -20px;
    /* text-align: center; */
    background-color: white;
    width:96%;
    height:700px;
    margin: 20px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.03);


    
}

.data{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.h3{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
.nav2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.nav2 a{
    margin-top: 50px;
    font-size: 25px;
    color: deeppink;
    text-decoration: none;
}

.ul{
    margin-top: 30px;
}
.tell{
    background-color: #53A3E5;
    padding: 15px;
    width: 250px;
    color: white;
    margin-top: 60px;
    border: 2px solid white;
    border-radius: 10px;
}
.tell:hover{
    background-color: white;
    color: #53A3E5;
    border: 2px solid #53A3E5;
    font-weight: bolder;
    cursor: pointer;
}
.hr{
    margin-top: 30px;
    color: deeppink;
    background-color: deeppink;
    height: 2px;
    width: 1100px;
}
.h4{
    font-size: 40px;
    
}
.owner{
    margin-top: 100px;
    text-align: center;
    margin-left:150px ;
    margin-right: 150px;
    
}
.post{
    
    margin-top: 30px;
    font-size: 15px;
    
}
.define{
    margin-top: 30px;
    font-size: larger;
}
.span{
    color: gainsboro;
}
.read{
    width: 200px;
    margin-top: 40px;
    font-size: 20px;
    padding: 7px;
    color: white;
    background-color: #53A3E5;
    border: 1px solid white;
    border-radius: 5px;
}
.read:hover{
    background-color: white;
    color: #53A3E5;
    border: 1px solid #53A3E5;
    font-weight: 200;
    cursor: pointer;
}
.span2{
   
    color: #53A3E5;
}
.para2{
    
    text-align: center;
    margin-top: 40px;
    width: 79%;
    margin-left:3px ;
    margin-right:3px ;
}
.para3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    
    margin-top: 150px;
}
.radius{
    border: 1px solid white;
    border-radius: 38%;
    background-color: lightgrey;
    width: 40px;
    height: 16px;

}
.radius button{
    border: none;
    background-color: 
    white;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 1px;
    margin-bottom: -1px;



    
}
.off{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 40px;
}
.prices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 50px;
}
.card{
    width: 90%;
    box-shadow:  black;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;

    
}
.header1{
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    height: 20px;
    background-color: blue;
}
.header2{
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    height: 20px;
    background-color: green;
}
.header3{
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    height: 20px;
    background-color: purple;
}
.header4{
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    height: 20px;
    background-color: #53A3E5;
}
.card h4{
    font-size: 15px;
}
.card h2{
    font-size: 30px;
}

.card ul{
    list-style: none;

}
.card p{
    margin-top: 19px;
    margin-bottom: 19px;
}
.card abbr{
    line-height: 30px;
    padding-top: 20px;
    color: gray;
    

}
.card button{
    margin-top: 20px;
    width: 270px;
    padding: 13px;
    color: white;
    font-weight: bold;
    background-color: #53A3E5;
    border: 2px solid white;
    border-radius: 10px;
}
.card button:hover{
    background-color: white;
    color: #53A3E5;
    border: 2px solid #53A3E5;
    cursor: pointer;
}
.card img{
    margin-right: 5px;
}
.love{
    margin-top: 100px;
}
.div1{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.div11{
    width: 33%;
    
}
.para4{
    text-align: center;
    margin-top: 30px;
}
.Riseatseven{
    width: 100%;
    height: 600px;
    border: 2px solid white;
    border-radius: 20px;
    
}
.Riseatseven img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    width: 100%;
    height: 350px;
}
.Riseatseven p{
    font-size: 20px;
    color:grey ;
    padding-top: 50px;
}
.Riseatseven  h3{
    font-size:29px;
    padding-top: 10px;
    padding-bottom: 50px;
    
}
.Riseatseven h3:hover{
    color: #53A3E5;
}
.Riseatseven a{
    color:black  ;
    font-weight: bold;
   
}
.Riseatseven a:hover{
    color: #53A3E5;
}
.Rise{
    width: 100%;
    height: 600px;
    border: 2px solid white;
    border-radius: 20px;
}
.Rise img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    width: 100%;
    height: 200px;
}
.Rise p{
    font-size: 20px;
    color:grey ;
    padding-top: 50px;
}

.Rise  h3{
    font-size:29px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.Rise h3:hover{
    color: #53A3E5;
}
.Rise a{
    color:black  ;
    font-weight: bold;
   
}
.Rise a:hover{
    color: #53A3E5;
}
.tool {
    width: 100%;
    
    background-color: rgb(255, 255, 255);
}
.no{
    background-image: url(./BuzzSumo-Homepage-Gradient.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
}
.no h2{
    font-size: 35px;
    padding-top: 40px;
    text-align: center;
}
.no p{
    text-align: center;
    padding-top: 40px;
}

.no button{
    width: 200px;
    color: #53A3E5;
    background-color: white;
    padding: 20px;
    font-weight: 800;
    
    border: 2px solid  #53A3E5;
    border-radius: 10px;
    margin-left:490px ;
    margin-top: 40px;
    
    

}
.no button:hover{
    background-color: #53A3E5;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}
footer{
    margin-top: 90px;
    
}
.footerdiv{
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 230px;
}
.footer a{
    text-decoration: none;
    color: gray;
    display: block;
    font-size: small;
    line-height: 30px;
}
.footer a:hover{
    color: black;
    text-decoration: underline;
}
.footer p{
    font-weight: bold;
    margin-bottom: 20px;
}
.footerbottom p{
    color: gray;
    font-weight: normal;
    font-size: small;
}
.footerbottom{
    padding: 30px;
    line-height: 20px;
}
.button8{
    width: 250px;
    padding: 15px;
    color: white;
    background-color: #53A3E5;
    border: 1px solid white;
    border-radius: 5px;

    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left:490px ;
    
    
}
.button8:hover{
    background-color: white;
    color: #53A3E5;
    border: 2px solid #53A3E5;
    cursor: pointer;
}